/* line 3, ../compass/sass/style.scss */
.top-row {
  background: lightblue;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 9, ../compass/sass/style.scss */
#page-heading {
  background: lightgrey;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 5px;
}

/* line 17, ../compass/sass/style.scss */
#poster-grid {
  background: lightblue;
  border-radius: 15px;
}
/* line 20, ../compass/sass/style.scss */
#poster-grid img {
  width: auto;
  height: 221px;
  overflow: hidden;
  margin-bottom: 5px;
}

/* line 28, ../compass/sass/style.scss */
.indent {
  padding: 0 20px;
}
